<!-- <lib-muk-table
    [config]="config"
    [contents]="[content1, content2]"
    (paginatorChange)="onPaginatorChange($event)"
    (takeAction)="(onTakeAction)"
    (sortChange)="(onSortChange)"
  >
    <div actions>
      <lib-muk-button [config]="config"></lib-muk-button>
    </div>
    <div search class="my-3">
      <lib-muk-button [config]="config2"></lib-muk-button>
    </div>
    <ng-template #content1 let-item="item"> content 1 </ng-template>
    <ng-template #content2 let-item="item"> content 2 </ng-template>
  </lib-muk-table> -->
  <!-- <lib-muk-alert [alert]="alert"></lib-muk-alert> -->